/*******************
    -- COLORS --

primary: #5C8EF2;
primary2: #293540;
dark-blue: #1A1C40;
info: #5C8EF2;
success: #3BD97F;
warning: #F2A03D;
danger: #731018;

light grey: #D9D9D9;
dark grey: #8E8D8F;
mid grey: #2A2A2A;

color: #13191C;


*******************/