* {
    font-family: lato;
}

body {
    font-size: 12px;
}

/********************
    -- POPOVERS --
********************/

.popover-top {
    position: absolute;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    bottom: 44px;
    left: -40px;
    width: 100px;
    display: none;
}

.popover-top:before {
    border-top: 7px solid rgba(0,0,0,0.85);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -6px;
}

.popover-top.active {
    display: block;
}

.popover-trigger {
    position: relative;
}

.popover-trigger:focus .popover-top {
    display: block;
}

/*********************
    -- BUTTONS --
*********************/

.btn {
    border: none;
    font-size: 1.5em;
    padding: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-darkgreen {
    border-bottom: 3px solid #182115;
    background-color: #093500;
    color: #FFFFFF;
}

.btn-darkgreen:focus {
    background-color: #3AFA06;
}

/**********************
    -- HEADER --
**********************/

header {
    background-color: #182115;
    color: #FFFFFF;
    margin-bottom: 20px;
}

header .app-logo {
    height: 100px;
    width: 92px;
}

header .header-separator {
    height: 80px;
    margin-top: 10px;
    padding-left: 30px;
    border-left: 3px solid #FFFFFF;
    width: 3px;
    float: left;
}
 
header .icon {
    font-size: 40px;
    padding-top: 30px;
    display: block;
    height: 100px;
    width: 60px;
    float: left;
    color: white;
    text-decoration: none;
}

/* DROPDOWNS */

.dropdown {
    position: relative;
    height: 100px;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0px;
    right: auto;
    background-color: #182115;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width: 200px;

}

.dropdown .dropdown-menu.right {
    right: 0px;
    left: auto;
}

.dropdown:active .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu.active {
    display: block;
}

.dropdown .dropdown-menu li {
    padding: 20px;
    height: 60px;
    transition-property: all;
    transition-duration: 0.5s;
}

.dropdown .dropdown-menu li:hover {
    background-color: #3AFA06;
}

.dropdown .dropdown-menu li a {
    color: #FFFFFF;
    font-size: 18px;
}

/**********************
    -- TIMELINE --
*********************/

article.event {
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 2px #BFBFBF;
    color: #182115;
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}

article.event .user-picture {
    width: 100%;
}

article.event .title-box {
    font-size: 3em;
    margin-top: 0px;
    margin-bottom: 0px;
}

article.event .title-box .location {
    display: block;
    color: #BFBFBF;
    font-size: 0.6em;
}

article.event .title-box .location .icon-location {
    color: #182115;
}

article.event .nb-users img {
    width: 100%;
}

article.event .event-description {
    padding-left: 10px;
}

article.event .btn-box .btn {
    float: right;
}

article.event .icons-and-tags .icon-box {
    padding-left: 0;
}

article.event .icons-and-tags .tag-box {
    background-color: #BFBFBF;
    min-height: 40px;
    text-align: center;
}

article.event .icons-and-tags .tag-box a {
    line-height: 40px;
    padding: 0 5px;
}
